* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.td-none {
  text-decoration: none;
  color: unset;
}

.h-fit-content {
  height: fit-content !important;
}

::-webkit-scrollbar {
  width: 6px; /* Width of the scrollbar */
}

::-webkit-scrollbar-track {
  background: #f1f1f1; /* Background of the scrollbar track */
}

::-webkit-scrollbar-thumb {
  background: #888; /* Color of the scrollbar thumb */
}

::-webkit-scrollbar-thumb:hover {
  background: #555; /* Color of the scrollbar thumb on hover */
}

/* Custom scrollbar for Firefox */
body {
  scrollbar-color: #888 #f1f1f1; /* Thumb color and track color */
}

.active-nav {
  background-color: #ddd !important;
}

.nav-width {
  width: 13rem !important;
}

.heart {
  animation: beat 2s ease-in-out infinite;
  /* animation-timing-function: ease-in-out; */
}
@keyframes beat {
  50% {
    opacity: 0.5;
  }
}

.qualities-item {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  width: 75px;
  height: 75px;
  transition: 0.2s;
}

.qualities:hover {
  .qualities-item {
    background-color: #fff3df !important;
    color: #fbb03b;
  }
}

.contact {
  background: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),
    url("/contact.jpg");
  background-size: cover;
  background-position: center center;
}

.contact-text {
  outline: none;
  background-color: white;
  height: 50px;
  border-radius: 25px;
  border: 0px;
  width: 250px;
}

.contact-button {
  outline: none;
  background-color: #fbb03b;
  height: 50px;
  border: 0px;
  border-radius: 25px;
  transition: 0.3s;
}

.contact-button:hover {
  box-shadow: 0 0 10px #fbb03b;
}

.contact-button:active {
  background-color: #c78c2f;
}

.footer-text:hover {
  text-decoration: underline;
}

footer {
  padding-top: 10px;
  box-shadow: 0 -10px 10px gray;
}

.footer-icons{
	transition: 0.2s;
}

.footer-icons:hover{
	color: black !important;
}


body{
	transition-property: opacity, transform, filter, background;
	transition-timing-function: ease-in-out;
	transition-duration: 200ms;
}

.page-transition{
	opacity: 0;
	background: #111;
	transform: translateY(80px);
	filter: blur(20px);
}

.navbar-nav{
	padding: 5px 10px;
	border-radius: 5px;
}

.active-navbar-nav{
	background-color: #ddd;
}